body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%; /* 画面幅に合わせる */
    max-width: 600px; /* 最大幅を設定 */
    margin: 0 auto; /* 中央揃え */
}

.text {
    position: absolute;
    cursor: pointer;
}

.material {
    top: 50%;  /* 位置を調整 */
    left: 10%; /* これらの値は画像に合わせて調整 */
}

.production {
    top: 50%;
    left: 30%; /* 各テキストの位置を調整 */
}

.distribution {
    top: 50%;
    left: 50%;
}

.disposal {
    top: 50%;
    left: 70%;
}

.arrow-image {
    width: 100%; /* コンテナ幅に合わせる */
    height: auto; /* 高さを自動調整 */
}

.image-display img {
    width: 100%; /* コンテナ幅に合わせる */
    height: auto; /* 高さを自動調整 */
}
