body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    text-align: center;
}

/* Add new logo image styling */
.logo-image {
    max-width: 100px; /* Adjust the width as necessary */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position it absolutely within the relative container */
    top: 10px; /* Adjust the top position as necessary */
    left: 50%; /* Center the logo horizontally */
    transform: translateX(-50%); /* Adjust horizontal position to truly center the logo */
}

.text {
    position: absolute;
    cursor: pointer;
    /* Add more styling here */
}

.material-extraction {
    top: 50%;  /* Adjust these values based on your image */
    left: 20%;
}

.production {
    top: 50%;
    right: 20%;
}

.distribution {
    bottom: 20%;
    left: 50%;
}

.disposal {
    top: 20%;
    left: 50%;
}

.arrow-image {
    width: 100%;
    height: auto;
}

.image-display {
    margin-top: 20px;
    text-align: center;
}
