body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* コンテナと画像のスタイリング */
.container {
    position: relative;
    width: 100%; /* 画面幅に合わせる */
    max-width: 600px; /* 最大幅を設定 */
    margin: 0 auto; /* 中央揃え */
}

.arrow-image {
    width: 100%; /* コンテナ幅に合わせる */
    height: auto; /* 高さを自動調整 */
}

/* テキストの位置調整 */
.text {
    position: absolute;
    cursor: pointer;
    /* 共通のスタイリング、例えばフォントサイズ、色など */
}

.material {
    top: 25%;  /* 縦方向: 画像の上から25％ */
    left: 20%; /* 横方向: 画像の左から20％ */
}

.production {
    top: 75%;  /* 縦方向: 画像の上から75％ */
    left: 40%; /* 横方向: 画像の左から40％ */
}

.distribution {
    top: 25%;  /* 縦方向: 画像の上から25％ */
    left: 60%; /* 横方向: 画像の左から60％ */
}

.disposal {
    top: 75%;  /* 縦方向: 画像の上から75％ */
    left: 80%; /* 横方向: 画像の左から80％ */
}

.image-display img {
    width: 100%; /* コンテナ幅に合わせる */
    height: auto; /* 高さを自動調整 */
}
